:root {
    --theme-padding: 8px;
    --gap-padding: 4px;
    --header-height: 40px;
    --content-height: calc(100vh - var(--header-height) - var(--theme-padding) * 2);
    --content-width: calc(100vw - var(--theme-padding) * 2 - 2px);
    --navbar-height: 20px;
    --cell-height: 10px;
    --cell-padding-x: 3px;
    --cell-padding-y: 2px;
    --btn-radius: 3px;
    --brand: rgb(56, 67, 78);
    --brand-text: whitesmoke;
    --hyperlink: rgb(54, 128, 225);
    --text-primary: rgb(3, 3, 3);
    --bg-layer-0: rgb(255, 255, 255);
    --bg-layer-1: rgb(255, 253, 253);
    --bg-layer-2: rgb(253, 250, 249);
    --bg-layer-3: rgb(250, 244, 240);
    --o: rgba(55, 255, 0, 0.1);
    --u: rgba(255, 0, 0, 0.1);
    --p: rgb(0 0 0 / 0.05);
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    /*@media (max-width: 575px) {*/
    /*    overflow: auto;*/
    /*    scroll-snap-type: both mandatory;*/
    /*}*/
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--brand);
    color: var(--brand-text);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0 12px;
    margin-right: 20px;

    h3 {
        font-weight: 300;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: whitesmoke;
        display: inline-block;
    }

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

main {
    position: relative;
    top: var(--header-height);
    padding: var(--theme-padding);
    width: 100%;
    height: 100%;
}

.scrollable-container > *:last-child {
    margin-right: 20px; /* Adjust the value as needed */
}

.resizable {
    resize: both;
    overflow: auto;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    padding: 15px;
}

.grid {
    display: grid;
    grid-row: 1 / span 2;
    grid-template-columns: 300px 80vw 800px;
    /*grid-template-rows: 80vh minmax(200px, 1fr);*/
    grid-template-rows: 70vh 200px;

    section {
        width: 100%;
        overflow: auto;
        scroll-margin-top: var(--header-height);
    }

    transition: all 1s;
}

#LinesContainer {
    scroll-padding-left: var(--theme-padding);
    padding: var(--gap-padding);
    grid-row-start: 1;
    grid-row-end: 3;

    > div {
        box-shadow: var(--box-shadow);
    }
}

#DataContainer {
    padding: var(--gap-padding);

    > div {
        box-shadow: var(--box-shadow);
    }
}

#MessageContainer {
    padding: var(--gap-padding);

    div {
        box-shadow: var(--box-shadow);
        border: 1px solid color-mix(in srgb, transparent, #181d1f 20%);
        border-radius: 2px;
        padding: var(--theme-padding);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--theme-padding);
        height: 100%;

        textarea {
            resize: none;
            width: 100%;
            height: 100%;
            min-height: 120px;
            border: 1px solid #e4e7ec;
            border-radius: 1px;
            background-color: #f9fafb;
            outline: none;
            padding: 4px 6px;
            overflow: auto;
        }

        button {
            align-self: flex-end;
            width: 120px;
            padding: 4px;
            border: none;
            border-radius: var(--btn-radius);
            background-color: var(--brand);
            color: var(--brand-text);
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #455a64;
            }
        }
    }
}

#ChartContainer {
    padding: var(--gap-padding);
    scroll-margin-right: var(--theme-padding);

    .chart {
        box-shadow: var(--box-shadow);
        border: 1px solid color-mix(in srgb, transparent, #181d1f 20%);
        border-radius: 2px;
        padding: var(--theme-padding);
        height: 100%;
        width: 100%;
    }
}

#LLMOutputContainer {
    padding: var(--gap-padding);
    scroll-margin-right: var(--theme-padding);

    .llm-output {
        box-shadow: var(--box-shadow);
        border: 1px solid color-mix(in srgb, transparent, #181d1f 20%);
        border-radius: 2px;
        padding: var(--theme-padding);
        strong {
            color: steelblue;
        }
        output {
            display: block;
            font-size: smaller;
            margin-bottom: 8px;
        }
        /*display: flex;*/
        /*flex-direction: column;*/
        /*gap: var(--theme-padding);*/
        height: 100%;
        width: 100%;
    }
}

.ag-theme-balham {
    --ag-foreground-color: #455a64;
    --ag-header-background-color: #ececec;
    --ag-odd-row-background-color: #fdfdfd;
    /*--ag-borders: none;*/
    /*--ag-font-family: monospace;*/
    /*--ag-font-size: 0.6rem;*/
    --ag-row-height: 18px;
    --ag-header-height: 20px;
    --ag-cell-horizontal-padding: 1px;
    --ag-header-column-separator-height: 100%;
    --ag-checkbox-checked-color: rgb(0 100 220);
    --ag-input-focus-border-color: rgb(0 100 220);
    --ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
    text-align: center;
    width: 100%;
}

.ag-row-pinned {
    background: rgba(171, 178, 182, 0.1);
    .ag-cell-last-left-pinned {
        background: rgba(171, 178, 182, 0.1);
        font-weight: 500;
    }
}

.ag-row-pinned:first-child {
    background: rgba(0, 145, 234, 0.1);
}

.ag-row-pinned:last-child {
    border-bottom: 2px solid rgba(53, 161, 222, 0.5);
}

.ag-cell {
    /*line-height: calc(var(--ag-row-height) - 3 * var(--ag-row-border-width));*/
    text-align: center;
}

.o {
    background: var(--o);
}

.u {
    background: var(--u);
}

.p {
    background: var(--p);
}

.ag-cell.reset {
    background: var(--bg-layer-0);
}

.ag-header-cell-label,
.ag-cell-wrapper {
    justify-content: center;
}

/*.ag-center-cols-viewport {*/
/*    min-height: unset !important;*/
/*}*/

.ag-floating-filter {
    display: flex;
    flex-direction: column;
}

.ag-floating-filter-body {
    width: 100%;
    padding: 1px;
}

.ag-floating-filter-button {
    margin: 0;
    width: 100%;
    padding: 1px;

    button {
        width: inherit;
    }
}

#chat-container {
    /*position: fixed;*/
    bottom: 0;
    margin: 8px;
    z-index: 1000;
    @media (max-width: 575px) {
        width: 100%;
    }

    border: 1px solid gray;
    border-radius: 3px;
    overflow: hidden;

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    display: flex;
    flex-direction: column-reverse;
    background: #d4d4db;
    max-height: var(--content-height);
}

#chat-window {
    height: 0;
    overflow: hidden;
    transition: width 0.35s, height 0.3s;
    width: 300px;
    @media (width: 575px) {
        width: 100%;
    }
}

input:checked ~ #chat-window {
    height: max(300px, var(--content-height) / 3);
}

input:checked ~ #chat-window.expanded {
    height: var(--content-height);
    width: var(--content-width);
}

input:checked + .chat-label::after {
    transform: rotate(90deg);
}

.chat-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
}

.chat-label::after {
    content: "\276F";
    text-align: center;
    transform: rotate(-90deg);
    transition: all 0.35s;
}

#chat-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: gainsboro;
}

#chat-actions {
    background: gainsboro;
    padding: 4px;
}
