:root {
    --theme-padding: 8px;
    --header-height: 40px;
    --content-height: calc(100vh - var(--header-height) - var(--theme-padding) * 2);
    --content-width: calc(100vw - var(--theme-padding) * 2 - 2px);
    --navbar-height: 20px;
    --cell-height: 10px;
    --cell-padding-x: 3px;
    --cell-padding-y: 2px;
    --btn-radius: 3px;
    --brand: rgb(56, 67, 78);
    --brand-text: whitesmoke;
    --hyperlink: rgb(54, 128, 225);
    --text-primary: rgb(3, 3, 3);
    --bg-layer-0: rgb(255, 255, 255);
    --bg-layer-1: rgb(255, 253, 253);
    --bg-layer-2: rgb(253, 250, 249);
    --bg-layer-3: rgb(250, 244, 240);
    --o: rgba(55, 255, 0, 0.1);
    --u: rgba(255, 0, 0, 0.1);
    --p: rgb(0 0 0 / 0.05);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    /*@media (max-width: 575px) {*/
    /*    overflow: auto;*/
    /*    scroll-snap-type: both mandatory;*/
    /*}*/
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--brand);
    color: var(--brand-text);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0 12px;
    margin-right: 20px;

    h3 {
        font-weight: 300;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: whitesmoke;
        display: inline-block;
    }
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

main {
    position: relative;
    top: var(--header-height);
    padding: var(--theme-padding);
    width: 100%;
    height: 100%;
}

.scrollable-container > *:last-child {
    margin-right: 20px; /* Adjust the value as needed */
}

.resizable {
    resize: both;
    overflow: auto;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    padding: 15px;
}

.grid {
    /*position: relative;*/
    /*top: var(--header-height);*/
    /*right: 20px;*/
    /*margin-right: 20px;*/
    display: grid;
    grid-row: 1 / span 2;
    grid-template-columns: 300px 80vw 60vw;
    /*grid-template-columns:  1fr 4fr 60vw;*/
    /*grid-template-rows: 80vh calc(20vw - var(--theme-padding));*/
    grid-template-rows: 80vh 1fr;
    gap: var(--theme-padding);
    section {
        width: 100%;
        transition: all 0.5s;
        overflow: auto;
        scroll-margin-top: var(--header-height);
    }
    align-items: stretch; /* Stretches items vertically within their cell */
    justify-items: stretch; /* Stretches items horizontally within their cell */
    /*@media (max-width: 575px) {*/
    /*    grid-template-columns: 1fr;*/
    /*    grid-template-rows: 80vh 80vh 20vh 80vh 80vh;*/
    /*}*/
}

#LinesContainer {
    grid-row-start: 1;
    grid-row-end: 3;
    scroll-margin-left: var(--theme-padding);
}
#LinesContainer.inactive {
    width: calc(20vw - var(--theme-padding));
    justify-self: end;
}

#DataContainer {
}
#DataContainer.inactive {
    width: calc(20vw - var(--theme-padding));
    justify-self: start;
}

#MessageContainer {
    border: 1px solid color-mix(in srgb, transparent, #181d1f 20%);
    border-radius: 2px;
    padding: var(--theme-padding);
    display: flex;
    flex-direction: column;
    gap: var(--theme-padding);
    textarea {
        resize: none;
        width: 100%;
        border: 1px solid #e4e7ec;
        border-radius: 1px;
        background-color: #f9fafb;
        outline: none;
        padding: 4px 6px;
        overflow: auto;
    }
    button {
        align-self: flex-end;
        width: 120px;
        padding: 4px;
        border: none;
        border-radius: var(--btn-radius);
        background-color: var(--brand);
        color: var(--brand-text);
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #455a64;
        }
    }
}

#ChartContainer {
    border: 1px solid color-mix(in srgb, transparent, #181d1f 20%);
    border-radius: 2px;
    padding: var(--theme-padding);
    scroll-margin-right: var(--theme-padding);
}
#LLMOutputContainer {
    border: 1px solid color-mix(in srgb, transparent, #181d1f 20%);
    border-radius: 2px;
    padding: var(--theme-padding);
    scroll-margin-right: var(--theme-padding);
}

.chart {
    height: 100%;
    width: 100%;
}

.ag-theme-balham {
    --ag-foreground-color: #455a64;
    --ag-header-background-color: #e7e7e7;
    --ag-odd-row-background-color: #fdfdfd;
    --ag-borders: none;
    /*--ag-popup-shadow: 1px 1px 1px 1px lightgray;*/
    /*--ag-card-shadow: 1px 1px 1px 1px lightgray;*/
    /*--ag-font-family: monospace;*/
    /*--ag-font-size: 0.6rem;*/
    /*--ag-row-height: 1rem;*/
    /*--ag-icon-size: 0.8rem;*/
    --ag-cell-horizontal-padding: 1px;
    /*--ag-header-height: 1rem;*/
    /*--ag-row-height*/
    /*--ag-list-item-height*/
    --ag-header-column-separator-height: 100%;
    --ag-checkbox-checked-color: rgb(0 100 220);
    --ag-input-focus-border-color: rgb(0 100 220);
    --ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
    text-align: center;
    width: 100%;
}

.ag-row-pinned {
    border-bottom: 2px solid gainsboro;
}

.ag-cell {
    /*line-height: calc(var(--ag-row-height) - 3 * var(--ag-row-border-width));*/
    text-align: center;
}

.o {
    background: var(--o);
}

.u {
    background: var(--u);
}

.p {
    background: var(--p);
}

.ag-cell.reset {
    background: var(--bg-layer-0);
}

.ag-header-cell-label,
.ag-cell-wrapper {
    justify-content: center;
}

/*.ag-center-cols-viewport {*/
/*    min-height: unset !important;*/
/*}*/

.ag-floating-filter {
    display: flex;
    flex-direction: column;
}

.ag-floating-filter-body {
    width: 100%;
    padding: 1px;
}

.ag-floating-filter-button {
    margin: 0;
    width: 100%;
    padding: 1px;

    button {
        width: inherit;
    }
}

/*.ag-spanned-cell-wrapper > .ag-spanned-cell {*/
/*    position: sticky;*/
/*}*/

/*.ag-header-cell-text {*/
/*    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*    animation: animatedTextGradient 2.5s linear infinite;*/
/*    background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    background-size: 200% auto;*/
/*}*/

/*@keyframes animatedTextGradient {*/
/*    to {*/
/*        background-position: -200% center;*/
/*    }*/
/*}*/


#chat-container {
    /*position: fixed;*/
    bottom: 0;
    margin: 8px;
    z-index: 1000;
    @media (max-width: 575px) {
        width: 100%;
    }

    border: 1px solid gray;
    border-radius: 3px;
    overflow: hidden;

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    display: flex;
    flex-direction: column-reverse;
    background: #d4d4db;
    max-height: var(--content-height);
}

#chat-window {
    height: 0;
    overflow: hidden;
    transition: width 0.35s, height 0.3s;
    width: 300px;
    @media (width: 575px) {
        width: 100%;
    }
}

input:checked ~ #chat-window {
    height: max(300px, var(--content-height) / 3);
}

input:checked ~ #chat-window.expanded {
    height: var(--content-height);
    width: var(--content-width);
}

input:checked + .chat-label::after {
    transform: rotate(90deg);
}

.chat-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
}

.chat-label::after {
    content: "\276F";
    text-align: center;
    transform: rotate(-90deg);
    transition: all 0.35s;
}

#chat-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: gainsboro;
    /*padding: 4px;*/
    /*border: 1px solid red;*/
}

#chat-actions {
    background: gainsboro;
    padding: 4px;
}
